<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset_password</title>
    <style>
      body {
        background-color: white;
      }
      .btn {
        width: 40%;
        height: 35px;
        background-color: black;
        border: none;
        color: white;
      }
      input {
        margin-top: 20%;
        width: 70%;
        height: 30px;
        border-radius: 4px;
      }
      .mid {
        text-align: center;
      }
      label {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="rs">
      <h3>Password Reset</h3>
      <p>Enter email address to reset the password</p>
      <div class="mid">
        <form method="post">
          {% csrf_token %} {{form}}
          <br />
          <input type="submit" class="btn" name="Send email" />
        </form>
      </div>
    </div>
  </body>
</html>
