.leaflet-container {
  width: 100vw;
  height: 100vh;
}
#map {
  height: 180px;
}
.leaflet-popup-pane > * {
  -webkit-transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  -ms-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
}
#center {
  position: absolute;
  bottom: 10%;
  right: 5%;
  z-index: 1001;
  border: none;
  background: none;
}
#dropdown {
  position: absolute;
  background: none;
  color: black;
  border: none;
  left: 3%;
  top: 4%;
  z-index: 1001;
}
#change {
  display: none;
}
#drp {
  z-index: 1001;
}
