.leaflet-container {
  width: 100vw;
  height: 100vh;
}
#map {
  height: 180px;
}
#center {
  position: absolute;
  bottom: 10%;
  right: 5%;
  z-index: 1001;
  border: none;
  background: none;
}
#change {
  display: none;
}
