.leaflet-container {
  width: 100vw;
  height: 100vh;
}
#map {
  height: 180px;
}

#center {
  position: absolute;
  bottom: 10%;
  right: 5%;
  z-index: 1001;
  border: none;
  background: none;
}
#dropdown {
  position: absolute;
  background: none;
  color: black;
  border: none;
  margin-left: 6%;
  top: 4%;
  z-index: 1001;
}
#change {
  display: none;
}
#drp {
  z-index: 1001;
}
#sidebar {
  position: fixed;
  overflow-x: hidden;
  transition: 0.3s;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background-color: blanchedalmond;
  text-align: center;
  z-index: 1002;
}
.usericon {
  margin-top: 25%;
  border-radius: 20%;
  margin-bottom: 2%;
}
.username {
  margin-top: 20%;
  margin-bottom: 5%;
  color: black;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bolder;
  letter-spacing: 1px;
}

.text {
  font-size: large;
  font-family: serif;
  margin-bottom: 2%;
}
#bus {
  width: 70%;
  height: 30px;
  background-color: white;
  color: black;
}
.busno {
  margin-bottom: 10%;
}
#stop {
  width: 70%;
  height: 30px;
  background-color: white;
  color: black;
  margin-bottom: 10%;
}

.logout {
  margin-top: 100px;
  width: 35%;
  height: 35px;
  background-color: white;
  border-color: black;
  border-radius: 2px;
  font-family: sans-serif;
  font-size: large;
  margin-bottom: 5%;
}
#cancel {
  position: absolute;
  background: none;
  color: black;
  border: none;
  left: 6%;
  top: 4%;
  z-index: 1001;
}

select {
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: medium;
}
